<launch>

  <!-- Use Wall Time -->
  <param name="use_sim_time" value="false" />

  <!-- tf Transformations -->
  <include file="$(find rbd_localization)/launch/tf.launch" />

  <!-- Launch Robodog Controller Node -->
  <node pkg="rbd_controller" type="rbd_controller" name="rbd_controller" output="screen">
    <rosparam command="load" file="$(find rbd_controller)/config/default.yaml" />
  </node>


  <!-- Launch Navigation Node -->
  <include file="$(find rbd_navigation)/launch/rbd_navigation.launch" />


  <!-- Launch Position Controller -->
  <include file="$(find rbd_pos_controller)/launch/rbd_pos_controller.launch" />

  
  <!-- Launch Localization with ZED Camera -->
  <include file="$(find rbd_localization)/launch/rbd_localization.launch">
    <arg name="enable_zed" value="true"/>
    <arg name="enable_loc_node" value="true" />
  </include>


  <!-- launch qre highlevelcontroller -->
  <include file="$(find qre_ros)/launch/high_level_mode.launch" />

  <!-- Launch Lidar Node with Ouster -->
  <include file="$(find rbd_lidar)/launch/rbd_lidar.launch" />

</launch>
