<launch>

  <!-- Use Wall Time -->
  <param name="use_sim_time" value="false" />

  <!-- tf Transformations -->
  <include file="$(find rbd_localization)/launch/tf.launch" />

  <!-- add static base_footprint for SLAM -->
	<node pkg="tf" type="static_transform_publisher" name="lidar_transform" args="0 0 0 0 0 0 odom rbd_base_link 10 use_sim_time:=false" />


  <!-- position controller  -->
  <!-- <node pkg="rbd_pos_controller" type="rbd_pos_controller" name="rbd_pos_controller" output="screen">
    <rosparam command="load" file="$(find rbd_pos_controller)/config/default.yaml" />
  </node> -->
  
  <!-- launch localization with zed camera and EKF -->
  <include file="$(find rbd_localization)/launch/rbd_localization.launch">
    <arg name="enable_zed" value="false"/>
    <arg name="enable_loc_node" value="true" />
    <arg name="enable_SLAM" value="true" />
  </include>

  
  <!-- Launch Lidar -->
  <include file="$(find rbd_lidar)/launch/rbd_lidar.launch" />

</launch>
