<launch>
    <arg name="metadata_file" default="metadata_default.json" />
    <arg name="bag_name" default="os1_test.bag" />

    <!-- enable sim-time -->
    <param name="use_sim_time" value="false" />

    <!-- Launch ouster replay -->
    <include file="$(find ouster_ros)/launch/replay.launch">
        <arg name="metadata" value="$(find ouster_ros)/config/$(arg metadata_file)"/>
        <arg name="bag_file" value="/home/juri/ROSWorkspace/BA/bags/$(arg bag_name)"/>
    </include>

</launch>