<launch>
	<arg name="port" default="9090"/>
	<arg name="address" default="localhost"/>

	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
		<arg name="port" value="$(arg port)"/>
		<arg name="address" value="$(arg address)"/>
	</include>
	<node pkg="tf2_web_republisher" type="tf2_web_republisher" name="tf2_web_republisher" output="screen"/>
	<node pkg="rbd_gestrec_py" type="gestrec_node.py" name="gestrec_node"/>
</launch>

